

/*Styles the header of EVERY page*/
header{
	margin:  0px auto;
	/*background-color: #FFCF47;*/
	/*background-image: url("GoldBackground.jpg");*/
	background-image: url("GreenBackground2.jpg");
	background-size: auto;
}

a#Logo{
	float: left;
	
	
	
}

/*Styles the body of EVERY page*/
body {
	/*background-color: #003300;*/
	/*background-image: url("GreenBackground.jpg");*/
	background-image: url("GreenBackground2.jpg");
}


/*Styles the navigation menue of EVERY page*/
nav#MainHorizontalNav{
	
	
	/*background-color: white;*/
	/*background-image: url("SilverBackground.jpg");*/
	background-image: url("GoldBackground.jpg");
	background-size: auto;
	
}

/*Removes underline from the hyperlink*/
nav#MainHorizontalNav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*Sets size and spacing of Navigation Bar*/
nav#MainHorizontalNav ul {
    height: auto;
    padding: 12px 0px;
    margin: 0px;
}


/*Sets the display to horizontal and spacing of the Navigation Bar*/
nav#MainHorizontalNav li {
	display: inline;
	padding: 20px;
}

/* Changes hypertext links to yellow when mouse is over them*/
nav#MainHorizontalNav a:hover {color: white}

/*h2 display at the top of EVERY page*/
h2 {
	text-indent: -2.8em;
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: "serif";
}

h2#h2Title {
	text-indent: -8em;
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: "serif";
	padding-top: 5px;
}





/*div display for EVERY page*/
div {
	color: white;
}


/* Changes the lables over the lab equipment*/
p#EquipmentLable1{
	text-indent: 3.5em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable2{
	text-indent: 2.8em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable3{
	text-indent: 1.35em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable4{
	text-indent: 0.5em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable5{
	text-indent: 0.8em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable6{
	text-indent: 2em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable7{
	text-indent: 3em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable8{
	text-indent: 3em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable9{
	text-indent: 3.2em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable10{
	text-indent: 0.8em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable11{
	text-indent: 3.5em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable12{
	text-indent: 0.5em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable13{
	text-indent: 2em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable14{
	text-indent: 2em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable15{
	text-indent: 1em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable16{
	text-indent: 2.3em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable17{
	text-indent: 1.9em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable18{
	text-indent: 3.5em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable19{
	text-indent: 0.9em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable20{
	text-indent: 0.9em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable21{
	text-indent: 1.4em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable22{
	text-indent: 1.8em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable23{
	text-indent: 1.6em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable24{
	text-indent: 1.9em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable25{
	text-indent: 0.5em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable26{
	text-indent: 2.8em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable27{
	text-indent: 1.4em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#EquipmentLable28{
	text-indent: 3.35em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

/*Styles the equipment and chemical descriptions*/
p#Description {
	padding-top: 110px;
	text-align: center;
}

p#ChemicalLable1{
	text-indent: 4.5em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#ChemicalLable2{
	text-indent: 3.9em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#ChemicalLable3{
	text-indent: 2.3em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#ChemicalLable4{
	text-indent: 4.2em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#ChemicalLable5{
	text-indent: 3.65em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#ChemicalLable6{
	text-indent: 3.7em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#ChemicalLable7{
	text-indent: 4.4em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

p#ChemicalLable8{
	text-indent: 4.4em;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}



/*Styles the Commly Asked Questions and Resources sections*/
h3#Helph3{
	color: white;
	text-indent: 1em;
}


/*Styles the resources bullets*/
nav#HelpResources li{
	list-style-image: url("HelpPageBulletFlask.png");
}

/*Removes underline, on text, changes color to white*/
nav#HelpResources a{
	text-decoration: none;
	color: white;
	
}


/*Styles the resources bullets*/
nav#HelpQuestions li{
	list-style-image: url("OrangeBulletFlask.png");
	color: white;
}

/*Changes font color of show/hide button on Help Page*/
div#ShowHide{
	color: black;
}

/*Styles text on home page description paragraph*/
p#HomeBodyParagraph{
	color: white;
	display: block;
	margin-left: 1em;
	padding-top: 20px;
}


footer{
	padding-top: 200px;
	text-align: center;
	text-indent: 15em;
	padding-bottom: 25px;
}

footer a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}


img#imgamecarousel {
	max-height: 200px;
	max-width: 200px;
	min-height: 200px;
	min-width: 200px;
}



p#Disc {
	position: absolute;
	padding-left:  5em;
	color: white;
	
}


ul#Discr {
	list-style: none;
}




a#top {
	color: white;
	text-decoration: none;
	
}

div#gotop {
	text-align: center;
}



p#EqiptDesc{
	color: white;
	font-size: large;
	padding-left:  .8em;
}

p#EqiptDesc2{
	color: white;
	font-size: x-large;
	padding-left:  1.7em;
	text-decoration: underline;
}




a#mywebplayer{
	color: white;
	text-decoration: none;
}

div#mywebplayer{
	text-indent: -5em;
	text-align: center;
}























.stage {
 -webkit-perspective: 1000;                   /* Sets up your viewpoint for seeing the animation */
}

.flashcard {
  height: 300px;  
  width: 500px; 
  margin: 10% auto;                                              /* Centers the flashcard on the page */
  border: 1px solid gray;                            /*  Border makes the animation easier to see. */
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;                                 /* Provides 3D perspective. */
  transition: all 0.3s;                                /* Slows down any transitions (e.g. rotation) */
  -webkit-transition: all 0.3s;
  background-color: white;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);                      /* Rotates flashcard div when applied */
}

.front, .back {
  position: absolute;                    
  -webkit-backface-visibility: hidden;           /*  Hides back side of text (it's upside down) */
  height: 300px;                                   /* Stretches side to inhabit full size of flashcard */
  width: 500px;
  text-align: center;                                                  
}

.front p, .back p {
  margin-top: 10%;                                                      
  font-size: 3em;
  color: black;
}











/*Styles the navigation menue of EVERY page*/
nav#MainHorizontalNav2{
	
	
	/*background-color: white;*/
	/*background-image: url("SilverBackground.jpg");*/
	background-image: url("GoldBackground.jpg");
	background-size: auto;
	
}

/*Removes underline from the hyperlink*/
nav#MainHorizontalNav2 a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: medium;
}

/*Sets size and spacing of Navigation Bar*/
nav#MainHorizontalNav2 ul {
    height: auto;
    padding: 12px 0px;
    margin: 0px;
}


/*Sets the display to horizontal and spacing of the Navigation Bar*/
nav#MainHorizontalNav2 li {
	display: inline;
	padding: 20px;
}

/* Changes hypertext links to yellow when mouse is over them*/
nav#MainHorizontalNav2 a:hover {color: white}










